.links-outer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(241, 243, 238);
}

.links-inner-container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1280px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.links-inner-container > footer {
    padding: 40px 0;
    display: block;
    box-sizing: border-box;
}

.links-inner-container__footer__sub-1 {
    margin-bottom: 40px;
}

.links-inner-container__footer__sub-1 div {
    width: 121px;
}

.links-inner-container__footer__sub-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;

}

.links-inner-container__sub-2__container {
    margin-bottom: 30px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.links-inner-container__sub-2__card {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    box-sizing: border-box;
}

.links-inner-container__sub-2__card__heading {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.links-inner-container__sub-2__card__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.links-inner-container__sub-2__card__links > a {
    margin-bottom: 10px;
    color: rgb(129, 129, 129);
    max-width: fit-content;
    line-height: 1.42;
    font-size: 18px;
    flex: 1 1 0%;
    box-sizing: border-box;
}

.links-inner-container__sub-2__container-2 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.links-inner-container__sub-2__container-2 {
    margin-bottom: 24px;

}

.links-inner-container__sub-2__container-2__heading {
    font-weight: 600;
    margin-bottom: 24px;
}

.links-inner-container__sub-2__container-2__description {
    font-weight: 400;
}

.links-inner-container__sub-2__container-2__heading,
.links-inner-container__sub-2__container-2__description {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.links-inner-container__footer__sub-3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;

}

.links-inner-container__footer__sub-3__heading {
    margin-bottom: 24px;
    margin-top: 80px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}


.links-inner-container__footer__sub-3__content {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.links-inner-container__footer__sub-3__content > div {
    width: 155px;
}

.links-inner-container__footer__sub-3__content > div > a {
    flex: 1 1 0%;
    color: inherit;
    font: unset;
}


.links-inner-container__footer__sub-4 {
    position: relative;
    margin-top: -50px;
    float: right;
    width: 265px;
}


.links-inner-container__footer__sub-4 > div {
    flex: 1 1 0%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
}

.links-inner-container__footer__sub-4 button {
    padding: 0;
    border-radius: 0;
    text-align: left;
    font-weight: 300;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 0px solid transparent;
    cursor: pointer;
    /* transition: background 0.2s ease 0s; */
    white-space: nowrap;
    width: 100%;
    --webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    border: 1px solid transparent;
    appearance: button;
}


.links-inner-container__sub-4__label {
    width : 100%;
}

.links-inner-container__sub-4__label > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 24px;
    border: 1px solid rgb(229, 234, 223);
    background-color: rgb(255, 255, 255);
    height: 48px;
}

.links-inner-container__sub-4__flag-icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 28px;
    margin: 0 12px;
}

.links-inner-container__sub-4__flag-icon > span {
    height: 11px;
    background-position: -5263px 0;
    box-shadow: 0 0 1px 0 #888;
    background-image: url(https://www.hipcamp.com/_next/static/media/flags.f73aa829.png);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
}

.links-inner-container__sub-4__form {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
    vertical-align: baseline;
}

.links-inner-container__sub-4__form > span {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    color: rgb(129, 129, 129);
    vertical-align: baseline;
}

.links-inner-container__sub-4__form > div {
    display: flex;
    width: 14px;
}

.links-inner-container__footer__sub-5 {
    border-top: 1px solid rgb(222, 222, 222);
    border-right-color: rgb(222, 222, 222);
    border-bottom-color: rgb(222, 222, 222);
    border-left-color: rgb(222, 222, 222);
    margin-top: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.links-inner-container__footer__sub-5 > div {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(129, 129, 129);
}

.links-inner-container__footer__sub-5__links {
    flex-grow: 0;
    max-width: 66.6667%;
    flex-basis: 66.6667%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.links-inner-container__footer__sub-5__links-wrapper {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: right;
    align-items: flex-start;
    color: rgb(129, 129, 129);
}

.links-inner-container__footer__sub-5__links a {
    font-size: 16px;
    flex: 1 1 0%;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.links-inner-container__footer__sub-5__socials {
    flex-grow: 0;
    max-width: 33.333%;
    flex-basis: 33.333%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.links-inner-container__footer__sub-5__socials > div {
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: rgb(129, 129, 129);
    box-sizing: border-box;
}

.links-inner-container__footer__sub-5__socials a {
    max-width: 30px;
    flex: 1 1 0%;
    text-decoration: none;
    color: inherit;
    font-size: unset;
    box-sizing: border-box;
}

.links-inner-container__footer__sub-5__socials svg {
    overflow: visible;
    width: 0.875em;
    font-size: 18px;
    margin-left: 16px;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}

.links-inner-container__footer__sub-6 {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.links-inner-container__footer__sub-6__container {
    padding: 0 24px;
    max-width: 1280px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.links-inner-container__footer__sub-6__container > div {
    padding: 25px 0;
}

.links-inner-container__footer__sub-6__container span {
    color: rgb(255, 255, 255);
}
