.masthead-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.masthead-container__wrapper {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}


.masthead-container__logo-wrapper {
    width: 154px;
    max-width: 50%;
}


.masthead-container__nav-list-wrapper {
    flex-grow: 1;
    max-width: 45%;
    font-size: 18px;
    font-weight: 400;
}


.masthead-container__nav-list-wrapper > ul {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}


.masthead-container__nav-list-wrapper__signup {
    background-color: #00c585;
    height: 36px;
    padding: 8px 15px;
    border-radius: 24px;
    color: #ffffff;
    font-weight: 500;
    border: 2px solid transparent;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.masthead-container__nav-list-wrapper li {
    border-bottom: 2px solid transparent;
    transition: border 0.25s ease 0;
}

.masthead-container__nav-list-wrapper  li.to-underline:hover {
    border-bottom: 2px solid #00c585;
}


.masthead-container__nav-list-wrapper__signup:hover {
    background-color: #ffffff;
    color:#00c585;
    border: 2px solid #00c585;
}
