.tiles-module {
  margin-top: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.tiles-module__wrapper {
  width: 1232px;
  box-sizing: border-box;
}

/* container 1 */

.container-1 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 1256px;
  height: 444px;
  margin: 80px -12px;
}

.container-1__card-container {
  box-sizing: border-box;
  height: 444px;
  width: 628px;
  padding: 12px;
}

.container-1__card-wrapper {
  box-sizing: border-box;
  border-radius: 24px;
  overflow: hidden;
  transform: translateY(5px);
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.container-1__card-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 40%) 0 2px 4px 0;
  transform: translateY(-3px);
}

.container-1__image-wrapper {
  box-sizing: border-box;
  height: 286px;
  width: 604px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.container-1__text-wrapper-1,
.container-1__text-wrapper-2 {
  color: rgb(247, 247, 247);
  box-sizing: border-box;
  width: 604px;
  height: 134px;
  padding: 32px 24px;
}

.container-1__text-wrapper-1 {
  background-color: rgb(224, 80, 40);
}

.container-1__text-wrapper-2 {
  background-color: rgb(154, 157, 40);
}

.container-1__subheading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.container-1__heading {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  flex: 0.8;
}

.container-1__text-wrapper__subwrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 0;
}

.container-1__book-now {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid white;
  align-items: center;
  padding: 12px 36px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: white;
}

.red-color {
  color: rgb(224, 80, 40);
}

.green-color {
  color: rgb(154, 157, 40);
}

/* container 2 */
.container-2 {
  box-sizing: border-box;
  position: relative;
  transform: translateY(5px);
  border-radius: 24px;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  /* margin-bottom: 40px; */
}

.container-2:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 40%) 0px 2px 4px 0px;
}

.container-2__image-container {
  height: 680px;
  overflow: hidden;
  border-radius: 24px;
}

.container-2__image-container > img {
  object-fit: cover;
  object-position: 0 -70px;
}

.container-2__heading-container {
  color: rgb(247, 247, 247);
  background-color: rgb(216, 70, 39);
  box-sizing: border-box;
  max-width: 372px;
  padding: 29px 24px;
  border-radius: 24px;
  position: absolute;
  bottom: 48px;
  left: 48px;
}

.container-2__description {
  display: block;
  font: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 12px;
}

.container-2__learn-more-anchor {
  color: rgb(216, 70, 39);
  font-weight: 500;
  font-size: 20px;
  background-color: white;
  padding: 12px 36px;
  border-radius: 24px;
  display: inline-block;
  margin-top: 26px;
}

/* container-3 */

.container-3 {
  margin: 80px 0;
}

.container-3__heading-container {
  margin-bottom: 32px;
  line-height: 30px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
}

.container-3__cards-container {
  display: flex;
  width: calc(100% + 24px);
  margin: -12px;
  height: 648px;
  padding: 12px;
}

.container-3__image-container {
  height: 648px;
  overflow: hidden;
  border-radius: 24px;
}

.container-3__cards-container > div {
  flex-grow: 0;
  max-width: 33.333%;
  flex-basis: 33.333%;
}

.container-3__card {
  height: 648px;
  padding: 12px;
  position: relative;
}

.container-3__card img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 24px;
}

.container-3__label-container {
  position: relative;
  top: -130px;
  z-index: 1;
  color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  padding-top: 29px;
  padding-bottom: 40px;
  font-size: 18px;
  border-radius: 0 0 24px 24px;
}

.container-3__label-container span {
  font-size: 24px;
}

.label-1 {
  background-color: rgb(119, 115, 43);
}

.label-2 {
  background-color: rgb(129, 154, 105);
}

.label-3 {
  background-color: rgb(228, 189, 158);
}

/* container 4 */
.container-4 {
  margin: 100px 0;
  font-size: 24px;
  font-weight: 500;
}

.container-4__heading-container {
  margin-bottom: 40px;
}

.container-4__cards-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.container-4__card {
  height: 364px;
  border-radius: 24px;
  overflow: hidden;
  transform: translateY(5px);
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.container-4__card:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 40%) 0 2px 4px 0;
}

.container-4__card-wrapper {
  position: relative;
}

.container-4__button-container {
  color: rgb(247, 247, 247);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}

.container-4__button-container > div {
  max-width: 75%;
  flex-basis: 75%;
  flex-grow: 0;
  padding-top: 16px;
  padding-bottom: 18px;
  border-radius: 42px;
  box-shadow: rgba(0, 0, 0, 40%) 0 3px 6px 0;
  position: relative;
  top: -110px;
  z-index: 1;
}


.container-4__button-1 > div {
  background-color: rgb(177, 134, 103);
}

.container-4__button-2 > div {
  background-color: rgb(23, 128, 125);
}

.container-4__button-3 > div {
  background-color: rgb(128, 128, 99);
}

.container-4__button-4 > div {
  background-color: rgb(151, 163, 162);
}

.container-4__button-5 > div {
  background-color: rgb(175, 195, 90);
}

.container-4__button-6 > div {
  background-color: rgb(192, 165, 131);
}
