* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 242, 239);
  font-family: Calibre, Helvetica, Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  color: rgb(40, 64, 12);
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

span {
  vertical-align: baseline;
}
